@import "./common.css";

body {
    margin: 0;
    padding: 0;
    background: url("../assets/1.jpg") no-repeat left center;
}

.demo {
    background: red;
}

.otherClassName {
    composes: demo;
    color: yellow;
}

.unused {
    text-align: center;
}

.common {
    background: red;
}