//out: false
@import "./common/index.less";


code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.red {
    height: 200px;
    background: url(~@assets/1.jpg) no-repeat;
}

.preLoading {
    width: 100vw;
    height: 50vmin;
    text-align: center;
    line-height: 50vmin;
    vertical-align: middle;
}

.myElement {
    background: silver;
    height: 300px;
    text-align: center;
    font: 30px/300px Helvetica, Arial, sans-serif;
}

.snap {
    text-align: center;
    font-size: 36px;
    padding: 20px;
    padding-top: 30vmin;
}